@import './material-colors.cnst.less';

@name-1: purple;
@name-2a: pink;
@name-2b: indigo;

@bg: 50;
@lt-2: 100;
@lt-1: 300;
@mid: 500;
@dk-1: 700;
@dk-2: 900;

@black: #000;
@white: #FFF;

@color-1: ~"@{md-@{name-1}-@{mid}}";
@color-1-bg: ~"@{md-@{name-1}-@{bg}}";
@color-1-lt-1: ~"@{md-@{name-1}-@{lt-1}}";
@color-1-lt-2: ~"@{md-@{name-1}-@{lt-2}}";
@color-1-lt-3: @white;
@color-1-dk-1: ~"@{md-@{name-1}-@{dk-1}}";
@color-1-dk-2: ~"@{md-@{name-1}-@{dk-2}}";
@color-1-dk-3: @black;

@color-2a: ~"@{md-@{name-2a}-@{mid}}";
@color-2a-bg: ~"@{md-@{name-2a}-@{bg}}";
@color-2a-lt-1: ~"@{md-@{name-2a}-@{lt-1}}";
@color-2a-lt-2: ~"@{md-@{name-2a}-@{lt-2}}";
@color-2a-lt-3: @white;
@color-2a-dk-1: ~"@{md-@{name-2a}-@{dk-1}}";
@color-2a-dk-2: ~"@{md-@{name-2a}-@{dk-2}}";
@color-2a-dk-3: @black;

@color-2b: color(~"@{md-@{name-2b}-@{mid}}");
@color-2b-bg: ~"@{md-@{name-2b}-@{bg}}";
@color-2b-lt-1: ~"@{md-@{name-2b}-@{lt-1}}";
@color-2b-lt-2: ~"@{md-@{name-2b}-@{lt-2}}";
@color-2b-lt-3: @white;
@color-2b-dk-1: ~"@{md-@{name-2b}-@{dk-1}}";
@color-2b-dk-2: ~"@{md-@{name-2b}-@{dk-2}}";
@color-2b-dk-3: @black;

/*
@darken-1: 8%;
@darken-2: 15%;
@darken-3: 25%;
@lighten-1: 15%;
@lighten-2: 30%;
@lighten-3: 45%;
@bg-lighten: 70%;

@color-1: #620CAC;
@color-2a: #B40097;
@color-2b: #1D1AB2;

@color-1-dk-1: darken(@color-1, @darken-1);
@color-1-dk-2: darken(@color-1, @darken-2);
@color-1-dk-3: darken(@color-1, @darken-3);
@color-1-lt-1: lighten(@color-1, @lighten-1);
@color-1-lt-2: lighten(@color-1, @lighten-2);
@color-1-lt-3: lighten(@color-1, @lighten-3);
@color-1-bg: lighten(@color-1, @bg-lighten);
@color-2a-dk-1: darken(@color-2a, @darken-1);
@color-2a-dk-2: darken(@color-2a, @darken-2);
@color-2a-dk-3: darken(@color-2a, @darken-3);
@color-2a-lt-1: lighten(@color-2a, @lighten-1);
@color-2a-lt-2: lighten(@color-2a, @lighten-2);
@color-2a-lt-3: lighten(@color-2a, @lighten-3);
@color-2a-bg: lighten(@color-2a, @bg-lighten);
@color-2b-dk-1: darken(@color-2b, @darken-1);
@color-2b-dk-2: darken(@color-2b, @darken-2);
@color-2b-dk-3: darken(@color-2b, @darken-3);
@color-2b-lt-1: lighten(@color-2b, @lighten-1);
@color-2b-lt-2: lighten(@color-2b, @lighten-2);
@color-2b-lt-3: lighten(@color-2b, @lighten-3);
@color-2b-bg: lighten(@color-2b, @bg-lighten);
*/
