@import './colors.cnst.less';
@import './media-breakpoints.cnst.less';

.ribbon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 1em 0 0;
    padding: 0 10px;
    text-align: center;
    position: relative;

    background: fade(@color-1-dk-1, 75%);
    box-shadow:
        0 0 2px 1px @color-1-lt-2;

    &:after {
        pointer-events: none;
        display: block;
        content: "";
        position: absolute;
        width: 110%;
        height: 100%;
        top: 0;
        left: -5%;
        box-shadow: inset 0 0 9px 4px fade(@color-1-dk-1, 50%);
        border: 5px solid fade(@color-1-dk-1, 50%);
    }

    @media @small {
        flex-direction: row;
    }
}
