@import '../less-common/colors.cnst.less';
@import '../less-common/mixins.less';

.tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    h1, h2, h3,
    h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        text-align: center;
        color: @color-2a-dk-2;
        text-shadow: 0 0 0 @color-2a-dk-3;
        margin: .5em 0;
    }

    p {
        font-family: 'Zilla Slab', serif;
        color: @color-2a-dk-3;
    }
}

.tab-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    > * {
        flex: 1;
    }
}

.tab-section-rule {
    @color: #000;
    @size: 15px;
    align-self: stretch;
    background-color: fade(@color, 25%);
    height: 2px;
    margin: 10px 7vw;

    position: relative;

    &:before {
        position: absolute;
        box-shadow: inset -15px 0 15px -15px fade(@color, 50%);
        content: "";
        height: 100%;
        width: 15px;
        top: 0;
        left: -15px;
    }

    &:after {
        position: absolute;
        box-shadow: inset 15px 0 15px -15px fade(@color, 50%);
        content: "";
        height: 100%;
        width: 15px;
        top: 0;
        right: -15px;
    }
}

.tab-box {
    .shadow();
    padding: 1vw 2vw;
    border-radius: 25px;
    background: @color-2b-lt-2;
}
