@import './less-common/modernscale.less';
@import './less-common/colors.cnst.less';
@import './less-common/media-breakpoints.cnst.less';

* {
    /* */
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background: @color-1-lt-3;
}

.app-content {
    min-width: 100vw;
    max-width: 100vw;
    flex: 1;
    padding: 3em 10vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
