.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    padding: 10px;
    text-align: center;
    background: #eee;

    @media only screen and (min-width: 480px) {
        flex-direction: row;
    }

    h1,
    h2 {
        margin: 0;
    }
}

.header-left,
.header-right {
    flex: 1;
    background: #7FF;
}

.header-center {
    flex: 3;
    background: #F7F;
}

.header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        align-items: baseline;
    }

    > div {
        flex: 1;
        margin: 0 1.5em;
    }

    a {
        color: #F00;
        text-decoration: none;
    }
}
