@import '../less-common/colors.cnst.less';
@import '../less-common/media-breakpoints.cnst.less';

.outermost-space .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2em 0 1em;
    padding: 10px;
    text-align: center;

    background: @color-1-dk-1;
    box-shadow:
        0 0 2px 1px @color-1-lt-2;

    @media @small {
        flex-direction: row;

        > .header-left {
            flex: 1;
        }

        > .header-center {
            flex: 2;
        }

        > .header-right {
            flex: 0;
        }
    }

    @media @large {
        > .header-right {
            flex: 1;
        }
    }

    .header-logo {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 3.5em;
        color: @color-2b-dk-2;
        text-shadow:
            2px 1px 0 fade(#000, 50%),
            -1px 1px 0 @color-2b;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media @medium {
            flex-direction: row;
            align-items: baseline;
        }

        > div {
            flex: 0;
            margin: 0 1.5em;

            @media @medium {
                margin: 1em 1.5em;
            }

            a {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1.2em;
                color: @color-2a-bg;
                text-decoration: none;
            }
        }
    }
}
