@import '../less-common/colors.cnst.less';
@import '../less-common/media-breakpoints.cnst.less';
@import '../less-common/mixins.less';

.outermost-space .header {
    .ribbon();

    @media @small {
        > .header-left {
            flex: 1;
        }

        > .header-center {
            flex: 2;
        }

        > .header-right {
            flex: 0;
        }
    }

    @media @large {
        > .header-right {
            flex: 1;
        }
    }

    .header-logo {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 2.5em;
        color: @color-2b-dk-2;
        text-shadow:
            2px 1px 0 fade(#000, 50%),
            -1px 1px 0 @color-2b;
        mix-blend-mode: hard-light;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media @medium {
            flex-direction: row;
            align-items: baseline;
        }

        > div {
            flex: 0;
            margin: 0 1.5em;

            @media @medium {
                margin: 0 1.5em;
            }

            a {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 1.2em;
                color: @color-2a-bg;
                text-decoration: none;
            }

            .active {
                font-size: 1.5em;
            }
        }
    }
}
