@import '../less-common/tab.less';
@import '../less-common/mixins.less';
@import '../less-common/colors.cnst.less';

.contact-tab {
    .tab();

    height: 100%;
}

.contact-item {
    .tab-section();

    justify-content: center;

    > * {
        flex: 1 1 0;
    }

    margin: 2.5em 0;
}

.contact-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 4em;
    color: @color-1;
    text-shadow: 1px 1px 1px fade(@color-1-dk-3, 80%);
    text-align: right !important;
    margin: 0 3vw 0 0 !important;
}

.contact-handle {
    > a {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 300;
        font-size: 4em;
        @color: @color-2a;
        text-shadow: 1px 1px 1px fade(@color-2a-dk-3, 50%);
        text-align: left !important;
    }
}

.contact-icons {
    flex: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.contact-icon {
    width: 100%;
    text-align: center;
    margin: 1em 0;

    > a {
        > i {
            font-size: 50vmin;
            text-shadow: 0 3px 1px @color-2a-dk-2;
        }
    }

    @media @small {
        width: 50%;
        margin: 0;

        > a > i {
            font-size: 25vmin;
        }
    }
}




